<<<<<<< HEAD
body, html {
	background: url("../images/capa_dosed.jpg"),
				url("../images/ruido.png"),
				linear-gradient(50deg, #ff4169, #7c26f8);
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}
div#float_menu{
	position: absolute;
	left: -280px;
	width: 280px;
	height: 100%;
	top: 0px;
	background-color: #CCC;
	z-index: 9999;
	transition: left 0.8s ease;
}

div#float_menu.active{
	left: 0;
	transition: left 0.8s ease;
}
.li{
	display: inline-block;
}
.cor{
	color: gold;
}
.article {
	height: 100%;
	text-align: center;
}
.article h1 {
	color: #fff;
	margin: 0px 0 70px 0;
	font-size: 50px;
	font-weight: 100;
	letter-spacing: -3px;

}
.section {
	padding: 20px;
	background: #fff;
}
.section img {
	margin: 10px;
}
.section h1 {
	color: #7c26f8;
	font-size: 50px;
}
.section h2 {
	color: #7c26f8;
	font-size: 50px;
	font-weight: 700;
	letter-spacing: 3px;
}
.section h3 {
	color: #7c26f8;
}
.rot {
	padding-left: 65px;
	transform: rotate(30deg);
}
.aside h2 {
	color: #fff;
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -3px;
}
.aside h3 {
	color: gold;
}
.aside p{
	color: #fff;
}
@media screen and (max-width: 767px){
	.rot{
		display: none;
	}
=======
body, html {
	background: url("../images/capa_dosed.jpg"),
				url("../images/ruido.png"),
				linear-gradient(50deg, #ff4169, #7c26f8);
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}
div#float_menu{
	position: absolute;
	left: -280px;
	width: 280px;
	height: 100%;
	top: 0px;
	background-color: #CCC;
	z-index: 9999;
	transition: left 0.8s ease;
}

div#float_menu.active{
	left: 0;
	transition: left 0.8s ease;
}
.li{
	display: inline-block;
}
.cor{
	color: gold;
}
.article {
	height: 100%;
	text-align: center;
}
.article h1 {
	color: #fff;
	margin: 0px 0 70px 0;
	font-size: 50px;
	font-weight: 100;
	letter-spacing: -3px;

}
.section {
	padding: 20px;
	background: #fff;
}
.section img {
	margin: 10px;
}
.section h1 {
	color: #7c26f8;
	font-size: 50px;
}
.section h2 {
	color: #7c26f8;
	font-size: 50px;
	font-weight: 700;
	letter-spacing: 3px;
}
.section h3 {
	color: #7c26f8;
}
.rot {
	padding-left: 65px;
	transform: rotate(30deg);
}
.aside h2 {
	color: #fff;
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -3px;
}
.aside h3 {
	color: gold;
}
.aside p{
	color: #fff;
}
@media screen and (max-width: 767px){
	.rot{
		display: none;
	}
>>>>>>> b22d150e6d6a57c7083802b48cf9c96dae03aedc
}